<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="footer-contacts">
                    <div class="mb-2">654006, Кемеровская область, г. Новокузнецк, Проспект Курако д.51/ 1, офис 16</div>
                    <div class="mb-2">660118, г. Красноярск, ул. Северное шоссе 5 Г, оф. 307</div>
                    Узнать подробности и оформить заказ <br> Вы можете по тел:&nbsp;<a href="tel:88007006319">8 800 700 63 19</a>                </div>
            </div>
            <div class="col-12 col-md-8">
                <nav class="nav nav-footer mb-4">
                    <a href="#about">Производитель</a>
                    <a href="#contacts">Контакты</a>
                </nav>
                <div class="footer-socials">
                    <a href="https://vk.com/anteygk" class="footer-socials__element footer-socials__element--vk"></a>
                    <a href="https://www.facebook.com/antey.gk/" class="footer-socials__element footer-socials__element--facebook"></a>
                    <a href="https://www.instagram.com/antey.gk/" class="footer-socials__element footer-socials__element--instagram"></a>
                    <a href="https://twitter.com/anteygk" class="footer-socials__element footer-socials__element--twitter"></a>
                </div>
            </div>
            <div class="col-12 col-md-3 ml-auto">

            </div>
        </div>
    </div>
</footer>