<header>
    <div class="container">
        <button class="nav-toggler"></button>
        <div class="logo">
            <img src="../img/w-truck.png" alt="">
        </div>
        <div class="header-menu">
            <nav class="nav nav-header">
                <a href="#about">Производитель</a>
                <a href="#contacts">Контакты</a>
            </nav>
            <div class="header-phone">
                <a href="tel:88007006319" class="header-phone--multichannel"><span class="icon icon-contacts-phone"></span>8 800 700 63 19</a>
                <a href="mailto:info@w-truck.ru" class="header-phone--local"><span class="icon icon-contacts-mail"></span>info@w-truck.ru</a>
            </div>
        </div>
    </div>
</header>