<header class="header-preview">
    <div class="container">
        <div class="logo">
            <img src="../img/logo2.svg" alt="">
        </div>
        <div class="header-phone header-phone-2">
            <div class="header-phone--title">Телефон техподдержки</div>
            <div class="header-phone__list">
                <a href="tel:+73912904101" class="header-phone--local">8 (391) 290 41 01</a>
                <a href="tel:88007006319" class="header-phone--multichannel"><span class="icon icon-contacts-phone"></span>8 800 700 63 19</a>
            </div>
        </div>
    </div>
</header>