$header-height: 96px
$header-height-responsive: 48px
@keyframes pulse
  0%
    box-shadow: 0 0 0 0 rgba(#fba91d, 0.4)
  70%
    box-shadow: 0 0 0 10px rgba(#fba91d, 0)
  100%
    box-shadow: 0 0 0 0 rgba(#fba91d, 0)

@mixin reponsivemenu()
  position: fixed
  left: 0
  top: $header-height
  bottom: 0
  background-color: #ffffff
  width: 100%
  transition: transform .2s ease
  transform: translateX(-100%)
  +media-breakpoint-down(xs)
    top: $header-height-responsive
  @content
*
  box-sizing: border-box
body, html
  margin: 0
  padding: 0
  //overflow-x: hidden
  max-width: 100%
body
  background-color: #ffffff
  padding-top: $header-height
  display: flex
  flex-direction: column
  +media-breakpoint-down(xs)
    padding-top: $header-height-responsive
  main
    flex-grow: 1
    flex-shrink: 0
  footer
    flex-shrink: 0
.container
  //margin: 0 auto
  //width: 1260px
.header-preview
  height: 127px
  padding: 20px 0
  .header-phone
    align-self: flex-end
main
  //overflow-x: hidden
  //margin-top: $header-height
  display: flex
  flex-direction: column
  section
    flex-grow: 1
header
  height: $header-height
  +media-breakpoint-down(xs)
    height: $header-height-responsive
  position: fixed
  top: 0
  z-index: 3
  max-width: 100%
  left: 0
  width: 100%
  background-color: #ffffff
  border-bottom: 1px solid $color-blue-1
  box-shadow: 0 0 12px rgba(0,0,0,.12)
  .container
    display: flex
    align-items: center
    height: 100%
    .nav
      padding-top: 20px
    .logo
      margin-right: 75px
      //flex-shrink: 0
      +media-breakpoint-up(sm)
        //width: 150px
      +media-breakpoint-down(xs)
        max-height: 35px
        margin-left: 50px
        margin-right: 50px
        flex-grow: 1
        text-align: center
      img
        +media-breakpoint-up(sm)
          //width: 150px
        +media-breakpoint-down(xs)
          max-height: 35px
    .header-phone
      margin-left: auto
.pad-little
  padding: 15px 0
footer
  border-top: 13px solid #8e8d8d
  background-color: #313131
  width: 100%
  max-width: 100%
  padding: 30px 0
.footer-contacts
  font-size: 1.07rem
  color: #ffffff
  +media-breakpoint-down(sm)
    margin-bottom: 1rem
  a
    font-size: 1.28rem
    color: #ffffff
    font-weight: bold
    &:hover, &:focus
      color: #ffffff
.footer-socials
  display: flex
  align-items: center
  justify-content: flex-end
  width: 100%
  +media-breakpoint-down(xs)
    justify-content: center
  &__element
    border: 1px solid #535252
    border-radius: 50%
    width: 34px
    height: 34px
    margin: 0 11px
    display: flex
    justify-content: center
    align-items: center
    flex-shrink: 0
    background-position: center center
    background-repeat: no-repeat
    $socials: (vk, facebook, instagram, twitter)
    @each $social in $socials
      &--#{$social}
        background-image: url("./img/#{$social}.png")
        &:hover
          background-image: url("./img/#{$social}-white.png")
          border-color: #ffffff

.header-menu
  +media-breakpoint-up(sm)
    display: flex
    justify-content: space-between
    flex-grow: 1
    align-items: center
    flex-shrink: 0
  +media-breakpoint-down(xs)
    .header-phone
      margin: 0 auto
      align-items: center
    +reponsivemenu
      display: flex
      flex-direction: column
      align-items: center
      &.active
        transform: translateX(0)
.nav
  font-size: 1rem
  +media-breakpoint-up(lg)
    display: flex
    justify-content: flex-start
    align-self: flex-start
  &-header
    +media-breakpoint-between(sm, md)
      +reponsivemenu
        *.active > &
          transform: translateX(0)
    +media-breakpoint-down(md)
      display: flex
      flex-direction: column
      align-items: center
  a
    text-transform: uppercase
    text-decoration: none
    color: #181818
    font-weight: 500
    transition: all 0.3s ease
    display: block
    padding: 0 30px
    margin-bottom: 15px
    font-size: 16px
    &.active, &:hover, &:focus
      //font-weight: 600
      color: $color-orange
  &-footer
    justify-content: flex-end
    +media-breakpoint-down(sm)
      justify-content: flex-start
      margin: 20px 0 0
      display: none
    +media-breakpoint-down(xs)
      flex-direction: column
      align-items: center
    a
      padding: 0 25px
      color: #8c8a8a
      &.active, &:hover, &:focus
        color: #ffffff
  &-toggler
    +media-breakpoint-down(xs)
      position: absolute
    display: block
    flex-shrink: 0
    background-color: transparent
    background-image: url('./img/menu.svg')
    background-size: 20px
    background-repeat: no-repeat
    background-position: center center
    width: $header-height-responsive
    height: $header-height-responsive
    margin-right: 2rem
    padding: 0
    outline: none
    border: none
    +hover-focus-active
      outline: none
    +media-breakpoint-up(lg)
      display: none
.present
  &-img
    +media-breakpoint-down(lg)
      margin: 65px auto 0
      max-width: 80%
    +media-breakpoint-down(md)
      margin: 20px auto
  &-show-it
    font-family: $heading-font-family
    font-size: 1.35rem
    text-transform: uppercase
    color: #ffffff
    width: 297px
    height: 67px
    border-radius: 7px
    line-height: 22px
    border: 3px solid #ffffff
    padding: 10px 60px 10px 20px
    position: relative
    &:hover, &:focus
      color: #ffffff
    .play-icon
      position: absolute
      right: 14px
      height: 42px
      width: 42px
      top: 50%
      transform: translateY(-50%)
  &-url
    position: absolute
    right: 0
    top: 0
    +media-breakpoint-down(lg)
      display: none !important
    +media-breakpoint-up(sm)
      clip-path: polygon(0 0, 100% 0%, 100% 100%,  75px 100%)
      padding: 0 100px 0 140px
    +media-breakpoint-down(xs)
      width: 100%
      text-align: center
      padding: 0 30px
      justify-content: center
    display: flex
    align-items: center
    background-image: url('./img/lines.png'), url('./img/lines.png'), linear-gradient(to top, #ffad00, #ffda69)
    height: 48px
    background-repeat: repeat-x, repeat-x, no-repeat
    background-position: 0 0, 0 100%, center center
    color: #181818
    font-weight: 900
    text-transform: uppercase
    font-size: 18px
    width: 352px
    &--arrow
      background-image: url("./img/presenturlarrow.png")
      width: 8px
      height: 14px
      margin-left: 5px
      flex-shrink: 0
    &:hover
      animation-name: presentUrlAnimation
      animation-duration: 1s
      animation-iteration-count: infinite
      animation-timing-function: linear
      color: #181818
@keyframes presentUrlAnimation
  from
    background-position: -19px 0, 19px 100%, center center
  to
    background-position: 0 0, 0 100%, center center
.play-icon
  .circle
    stroke-dasharray: 227
    stroke-dashoffset: 0
    animation-iteration-count: 1
    animation-name: rotate
    animation-duration: 1s
    animation-timing-function: linear
    transform-origin: 50% 50%
    .circle, .play
      transition: all 0.5s ease
  &:hover
    .circle
      animation-iteration-count: infinite
      animation-name: rotateInfinite
      animation-duration: 3s
      animation-timing-function: linear
      stroke-dasharray: 9
      stroke-dashoffset: 0
section
  padding: 45px 0
  +media-breakpoint-down(md)
    padding: 40px 0
  +media-breakpoint-down(xs)
    padding: 25px 0
  &.present-section
    background-color: $color-blue-1
    padding: 0
    background-image: url("./img/background-1.png")
    background-position: calc(50% - -44px) calc(100% + 370px)
    background-repeat: no-repeat
    background-size: 2658px 2658px
    +media-breakpoint-down(md)
      //background-image: none
      background-size: 2658px 2658px
      background-position: calc(50% - -148px) calc(100% + 186px)
      background-size: 1571px 1611px
    +media-breakpoint-up(xl)
      height: 806px
    +media-breakpoint-down(lg)
      height: 615px
    .container
      display: block
      position: relative
      height: 100%
      +media-breakpoint-down(lg)
        display: flex
        flex-direction: column
      +media-breakpoint-up(xl)
        padding: 27px 0
      .icon-display
        +media-breakpoint-up(xl)
          position: absolute
          bottom: -41px
          right: -8px
        +media-breakpoint-down(lg)
          max-width: 100%
          margin-left: auto
          margin-top: 15px
        +media-breakpoint-down(md)
          max-width: 50vw
          margin-bottom: 20vh
      .present-show-it
        +media-breakpoint-up(xl)
          position: fixed
          left: calc(50% + 400px)
          top: 110px
          background-color: #103052
          z-index: 4
          @media screen and (max-width: 1400px)
            right: 0
            left: auto
        //+media-breakpoint-down(lg)
          position: relative
          display: block
          margin-left: auto
          margin-top: 15px
          background-color: #10304d
          margin-bottom: 20px
        +media-breakpoint-down(md)
          display: none
        //+media-breakpoint-down(sm)
          position: relative
          top: 0
          right: 0
          display: block
          width: auto
  &.about-section
    background-image: url("./img/about-icon.png")
    background-repeat: no-repeat
    background-position: calc(50% - 826px) -290px
  &.skz-section

    .skz-advantages
      margin: 60px 0
    .skz-functions
      //margin: 30px 0 0
      +media-breakpoint-down(md)
        margin-top: 50px
  &.advantages-section
    background-color: #f5f5ed
    background-image: url("./img/present-icon.png")
    background-repeat: no-repeat
    background-position: calc(50% - 826px) calc(100% - 250px)
    .advantages
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
      &-element
        margin-bottom: 25px
  &.hw-section
    background-color: #ef7843
    background-image: url("./img/bg-org.jpg")
    background-repeat: no-repeat
    background-position: center top
    position: relative
    .hw-img
      margin-bottom: 30px
      //filter: drop-shadow(0px 3px 3px rgba(#000, 0.4))
    +media-breakpoint-down(lg)
      //background-image: url("./img/traktor.png"), url("./img/bg-org.jpg")
      //background-size: 80% auto, auto 100%
      //background-position: center 50px, center top
      ol
        text-align: left
    +media-breakpoint-down(xs)
      ol
        background-color: rgba(#eb5f22, 0.7)
        border-radius: 9px
        box-shadow: 0px 0px 1px 1px rgba(#fff, 0.45)
        padding: 15px 0
    .row
      //padding-top: 20px
      +media-breakpoint-down(sm)
        //padding-top: 30px
  &.contacts-section
    background-color: $color-blue-1
    background-image: url("./img/background-3.png")
    background-position: center center
    background-repeat: no-repeat
    background-blend-mode: luminosity
  &.map-section
    padding: 0
    position: relative
    display: flex
    flex-direction: column
    .container
      //position: relative
    #contacts-map
      order: 2
    .contacts-place
      order: 1
      +media-breakpoint-up(xl)
        position: absolute
        left: calc(50% - 616px)
        top: 50%
        transform: translateY(-50%)
        width: 360px
        border-radius: 6px
        box-shadow: 0 9px 11px rgba(0,0,0,.15)
      background-image: linear-gradient(to top, rgba(213,213,213,.25), rgba(255,255,255,.25))
      background-color: #ffffff
      padding: 30px 35px
      &__title
        color: #313131
        font-size: 2.35rem
        text-transform: uppercase
        font-family: $heading-font-family
        font-weight: 700
        margin-bottom: 45px
      &__element
        font-size: 1.15rem
        color: #6e7a81
        margin-bottom: 10px
        display: flex
        justify-content: space-between
        +media-breakpoint-down(xs)
          margin-bottom: 15px
        a
          color: #6e7a81
        .icon
          vertical-align: sub
          flex-shrink: 0
          margin-top: 3px
          margin-right: 13px
        &--text
          flex-grow: 1
#contacts-map
  width: 100%
  height: 640px
  +media-breakpoint-down(md)
    height: 40vh
.contacts
  &-text
    font: $heading-font-family
    font-weight: 800
    font-size: 32px
    color: #ffffff
    text-align: center
    text-transform: uppercase
    margin-bottom: 20px
    +media-breakpoint-down(sm)
      font-size: 24px
      line-height: 28px
    a
      color: #ffffff
      white-space: nowrap
  &-download
    display: flex
    font-size: 1.28rem
    color: #ffffff
    align-items: center
    margin-bottom: 10px
    padding-right: 20%
    justify-content: flex-end
    +media-breakpoint-down(sm)
      flex-direction: column
      padding: 0
      text-align: center
    &--button
      margin-left: 25px
      font-size: 1.28rem
      color: #ffffff
      font-weight: 600
      width: 191px
      height: 42px
      border-radius: 4px
      background-color: rgba(159,165,155,0)
      border: solid 2px #fff
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 54px 0 30px
      transition: all 0.5s ease
      +media-breakpoint-down(sm)
        margin: 1rem 0 0
      &:hover
        border-style: dashed
        color: #ffffff
.hw-composition
  width: 720px
  height: 510px
  display: none
  +media-breakpoint-down(lg)
    width: auto
    height: auto
    //display: flex
    flex-wrap: wrap
    margin-bottom: 20px
    justify-content: space-around
    display: none
  &__element
    background-image: linear-gradient(to bottom, rgba(255,255,255,.22) 48%, rgba(184,182,182,.22))
    $sz: 130
    $sz2: $sz/2
    width: #{$sz}px
    height: #{$sz}px
    border-radius: 50%
    background-color: #ffffff
    box-shadow: 0 6px 18px rgba(0,0,0,.26), inset 0 3px 3px rgba(0,0,0,.21)
    border: solid 4px #cfcdcd
    position: absolute
    z-index: 2
    +media-breakpoint-down(lg)
      &:nth-of-type(5)
        display: none
    +media-breakpoint-down(xs)
      width: #{$sz / 1.5}px
      height: #{$sz / 1.5}px
    +media-breakpoint-down(lg)
      position: relative
      left: 0 !important
      right: 0 !important
      top: 0 !important
      bottom: 0 !important
      margin: 10px
    .img-wrapper
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      border-radius: 50%
    &--number
      position: absolute
      //transform-origin: #{$sz2}px #{$sz2}px
      background-image: linear-gradient(to top, #c2473e, #fc673a)
      border: solid 2px #c84a3e
      background-color: #b70e0e
      $w: 33
      width: #{$w}px
      height: #{$w}px
      left: 0
      top: 0
      border-radius: 50%
      font-weight: 700
      color: #ffffff
      font-family: $heading-font-family
      text-align: center
      font-size: 24px
      line-height: 27px
      +media-breakpoint-down(xs)
        width: #{$w / 1.5}px
        height: #{$w / 1.5}px
        font-size: 16px
        line-height: 17px
      //&:nth-of-type(1)
        left: 20px
        top: -10px
      //&:nth-of-type(2)
        left: -10px
        top: 20px
  &-lines
    width: 450px
    z-index: 1
    height: 245px
    background-image: url("./img/hw-lines.png")
    position: absolute
    left: 60px
    bottom: 166px
    +media-breakpoint-down(lg)
      display: none

.partners
  height: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-end
  +media-breakpoint-down(md)
    align-items: center
    display: none
  &-element
    margin-bottom: 90px
.advantages
  &-element
    width: 100%
  $marleft: 18px
  &-title
    font-size: 22px
    font-family: $heading-font-family
    font-weight: 700
    color: #313131
    text-transform: uppercase
    margin-bottom: 10px
    width: 100%
    padding-left: 36px
    position: relative
    +media-breakpoint-down(xs)
      font-size: 19px
      line-height: 23px
    &:before
      background-image: linear-gradient(to top, #eb5f22, #ed8743)
      width: 18px
      position: absolute
      left: 5px
      top: 8px
      vertical-align: middle
      height: 18px
      border-radius: 9px
      display: inline-block
      content: ''
      margin-right: $marleft
  &-description
    font-size: 16px
    font-weight: 400
    color: #6e7a81
    width: 100%
    line-height: 18px
    padding-left: $marleft*2
    text-align: justify
    +media-breakpoint-down(xs)
      font-size: 13px
.section
  &-description
    font-size: 22px
    color: #10304d
    font-weight: 500
    text-align: center
    line-height: 24px
    letter-spacing: -0.1px
    +media-breakpoint-down(xs)
      font-size: 16px
.slogan
  font-family: $heading-font-family
  color: #ffffff
  text-transform: uppercase
  font-size: 28px
  display: flex
  align-items: center
  padding: 0 28px 0 15px
  background-color: #eb5f22
  border-radius: 5px
  height: 56px
  font-weight: 700
  +media-breakpoint-down(lg)
    font-size: 24px
    line-height: 28px
    justify-content: space-between
  +media-breakpoint-down(xs)
    font-size: 16px
    line-height: 20px
  img
    margin-right: 15px
.result
  &-items
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: flex-start
    margin: 30px 0
    &__element
      flex-basis: 300px
      flex-grow: 0
      flex-shrink: 0
      +media-breakpoint-down(sm)
        display: flex
        align-items: flex-start
      +media-breakpoint-down(md)
        margin-bottom: 25px
        flex-basis: 100%
      &--counter
        font-size: 31px
        color: #ffffff
        width: 43px
        margin-bottom: 20px
        height: 43px
        text-align: center
        line-height: 43px
        font-family: $heading-font-family
        font-weight: 700
        background-color: $color-blue-1
        +media-breakpoint-down(sm)
          flex-shrink: 0
          margin-right: 15px
      &--text
        font-size: 1.15rem
        color: #6e7a81
        font-weight: 400
        line-height: 1.4rem
        text-align: justify
  &-things
    display: flex
    justify-content: space-between
    align-items: flex-start
    +media-breakpoint-down(md)
      flex-wrap: wrap
    &__element
      +media-breakpoint-up(xl)
        flex-basis: 570px
      background-color: $color-blue-1
      border-radius: 4px
      display: flex
      justify-content: space-between
      align-items: center
      padding: 10px 90px 10px 35px
      height: 96px
      +media-breakpoint-down(md)
        margin-bottom: 10px
        padding: 10px 20px 10px 35px
        flex-grow: 1
      .img-wrapper
        margin-right: 50px
        flex-shrink: 0
        +media-breakpoint-down(xs)
          margin-right: auto
      &--text
        flex-grow: 1
        text-align: center
        font-weight: 600
        color: #ffffff
        font-size: 1.7rem
        line-height: 2rem
        +media-breakpoint-down(xs)
          margin-left: 10px
        +media-breakpoint-down(sm)
          font-size: 1.4rem
          line-height: 1.5rem

.skz
  &-advantages
    display: flex
    justify-content: space-around
    align-items: flex-end
    +media-breakpoint-down(sm)
      flex-wrap: wrap
    +media-breakpoint-down(xs)
      //flex-direction: column
      //align-items: center
    &__element
      display: flex
      flex-direction: column
      justify-content: flex-end
      align-items: center
      +media-breakpoint-down(sm)
        margin: 15px 15px 20px
      &--image
        width: 90px
        height: 90px
        display: flex
        justify-content: center
      &--title
        font-family: $heading-font-family
        font-size: 28px
        color: #313131
        text-transform: uppercase
        font-weight: 700
        +media-breakpoint-down(xs)
          font-size: 18px
  &-functions
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: -50px
    +media-breakpoint-down(xs)
      margin-bottom: -30px
    +media-breakpoint-down(xs)
      justify-content: space-around
    &__element
      +media-breakpoint-between(sm, lg)
        flex-basis: 200px
      +media-breakpoint-up(xl)
        flex-basis: calc(100% / 3 - 20px)
        max-width: calc(100% / 3 - 20px)
      display: flex
      flex-direction: column
      align-items: center
      justify-content: flex-start
      margin-bottom: 50px
      +media-breakpoint-down(xs)
        margin-bottom: 30px
      &--icon
        margin-bottom: 30px
        display: flex
        justify-content: center
        height: 104px
        flex-shrink: 0
        +media-breakpoint-down(xs)
          margin-bottom: 15px
          width: 80px
          height: 80px
      &--title
        font-family: $heading-font-family
        flex-shrink: 0
        font-size: 20px
        line-height: 22px
        text-transform: uppercase
        color: #313131
        font-weight: 700
        width: 100%
        text-align: center
        +media-breakpoint-down(xs)
          font-size: 12px
          line-height: 13px

.video
  position: relative
  overflow: hidden
  display: inline-block
  margin-top: 30px
  &:after
    content: ''
    display: block
    +position(absolute, 0 0 0 0)
    width: 100%
    height: 100%
    background-color: rgba(#000, 0.58)
    z-index: 1
  .video-play-icon
    left: 50%
    top: 50%
    position: absolute
    transform: translate(-50%, -50%)
    $sz: 80
    width: #{$sz}px
    z-index: 2
    height: #{$sz}px
    &:hover
      .play
        animation-name: playAnimation
        animation-duration: 1s
        animation-iteration-count: infinite
        animation-timing-function: linear
        transform-origin: 50% 50%
@keyframes playAnimation
  from
    transform: scale(1)
  33%
    transform: scale(0.9)
  66%
    transform: scale(1.1)
  to
    transform: scale(1)
.about
  &-left
    display: flex
    flex-direction: column
    .slogan
      margin-top: auto
      +media-breakpoint-down(lg)
        margin-bottom: 15px
.about-composition
  //background-image: url("./img/belaz-new.png")
  //background-size: 600px 400px
  //background-repeat: no-repeat
  position: relative
  display: flex
  justify-content: center
  flex-direction: column
  align-items: flex-end
  //padding: 30px
  +media-breakpoint-up(xl)
    width: 600px
    height: 480px
  +media-breakpoint-down(md)
    background-image: none
  +media-breakpoint-down(lg)
    background-size: 100% auto
    background-position: center center
    background-repeat: no-repeat
    padding: 0
  +media-breakpoint-up(lg)
    height: 400px
    &--mainimg
      //display: none
  &__icons
    display: flex
    flex-direction: column
    align-items: flex-end
    +media-breakpoint-down(md)
      flex-direction: row
      //position: absolute
      flex-wrap: wrap
      align-items: stretch
      //background-color: #0a2137
      padding: 10px
      justify-content: space-around
  &--icon
    background-color: #ffffff
    text-align: center
    margin-bottom: 10px
    padding: 5px 10px
    +media-breakpoint-only(lg)
      margin: 4px 0
    +media-breakpoint-down(md)
      margin: 5px
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      border: 1px solid #0a2137
    img
      width: 130px
      +media-breakpoint-only(lg)
        width: 80px
  &__link
    width: 232px
    height: 86px
    margin: 12px 0
    background-color: rgba(#ffffff, 0.8)
    color: #313131
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-transform: uppercase
    font-weight: 500
    font-family: $heading-font-family
    text-align: center
    $self: &
    font-size: 16px
    +media-breakpoint-down(md)
      display: none
    +media-breakpoint-down(sm)
      box-shadow: 0 0 1px 0 rgba(#000000, 0.5)
      padding: 0 5px
      font-size: 11px
    &--title
      //transition: all 0.5s ease
      border-bottom: 2px solid transparent
      width: 100%
      line-height: 1.1
    &--description
      width: 100%
      line-height: 1.2

      //transition: all 0.5s ease
    &:nth-of-type(1)
      #{$self}--title
        font-size: 2.56em
      #{$self}--description
    &:nth-of-type(2)
      #{$self}--title
        font-size: 1.8125em
      #{$self}--description
        font-size: 0.9375em
    &:nth-of-type(3)
      #{$self}--title
        font-size: 2.125em
      #{$self}--description
        font-size: 1em
    //&:hover
      #{$self}--title
        line-height: 36px
        border-color: $color-blue-1
        color: $color-blue-1
      #{$self}--description
        font-size: 0
        line-height: normal

.b24-web-form-popup-btn-4
  position: fixed
  right: 0
  bottom: 10%
  background-color: #fca11b
  +media-breakpoint-up(md)
    background-image: url("./img/order-call-back.png")
    background-repeat: no-repeat
    background-position: center center
    background-size: 100% auto
    width: 180px
    transition: all 0.2s ease
    height: 54px
    background-color: transparent
    &:hover
      opacity: 0.9
  +media-breakpoint-down(sm)
    font-size: 0
    border-radius: 50%
    width: 50px
    height: 50px
    background-image: url("./img/order-call-back-small.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: 100%
    right: 20px
    bottom: 20px
    animation-duration: 1.05s
    animation-name: pulse
    animation-iteration-count: infinite
    box-shadow: 0 0 0 rgba(#fba91d, 0.4)
    //&:after
      width: 50px
      height: 50px
      position: absolute
      left: 0
      top: 0
      display: block
      content: ''
      border-radius: 50%
      box-shadow: 0 0 0 rgba(#eb5f22, 0.4)
      animation-duration: 1.05s
      animation-name: pulse
      animation-iteration-count: infinite

@keyframes rotate
  0%
    stroke-dashoffset: 227
  100%
    stroke-dashoffset: 0

@keyframes rotateInfinite
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.landing-section
  background-image: url("./img/landing-bg.jpg")
  background-repeat: repeat
  background-position: center top

.landing-grid
  display: flex
  flex-wrap: wrap
  margin: 70px 0
  &-element
    +media-breakpoint-up(xl)
      +flexElements(2, 160px)
    $this: &
    display: flex
    flex-direction: column
    position: relative
    align-items: flex-end
    margin-bottom: 60px
    z-index: 2
    +media-breakpoint-down(lg)
      margin: 0 auto 40px
    .buttons
      +media-breakpoint-up(xl)
        position: absolute
        bottom: 30px
        left: 0
      display: flex
      width: 100%
      flex-wrap: wrap
      justify-content: space-between
      align-items: center
      font-size: 19px
      .btn
        height: 55px
        font-family: $exo
        padding: 0 50px
        text-transform: uppercase
        font-weight: bold
        display: flex
        align-items: center
        +media-breakpoint-down(xs)
          width: 100%
          justify-content: center
          margin-bottom: 10px
    &__title
      font-family: $exo
      font-size: 38px
      text-transform: uppercase
      color: #fff
      display: flex
      flex-direction: column
      align-items: center
      line-height: 40px
      margin-bottom: 10px
    &-1
      .logo
      .truck
      #{$this}__title
        font-size: 19px
      .buttons
    &-2
      &:before
        content: ''
        display: block
        width: 224px
        height: 60px
        background-image: url("./img/land-dots_reverse.png")
        background-position: center center
        background-repeat: no-repeat
        position: absolute
        right: 0
        z-index: -1
        top: 110px
      #{$this}__title
        font-size: 37px
      .cars
        margin-top: 60px
      .buttons
        .btn
          +media-breakpoint-up(md)
            +flexElements(2, 24px)
          font-size: 14px
          text-align: left
          padding: 0 15px
          line-height: 17px
    &-3
      #{$this}__title
        align-self: flex-start
        padding-left: 40px
        position: relative
        &:before
          content: ''
          z-index: -1
          display: block
          width: 224px
          height: 60px
          background-image: url("./img/land-dots.png")
          background-position: center center
          background-repeat: no-repeat
          position: absolute
          left: 0
          top: 0
      .tah
        margin-top: 40px
      .buttons

    &-4
      +media-breakpoint-down(sm)
        overflow: hidden
      &:before
        content: ''
        display: block
        width: 224px
        height: 60px
        background-image: url("./img/land-dots.png")
        background-position: center center
        background-repeat: no-repeat
        position: absolute
        left: -172px
        top: 49px
        z-index: -1
      .logo
        position: absolute
        left: 0
        top: 24px
        z-index: 2
        max-width: 40%
      .tanks
        align-self: flex-end
        transform: translateX(65px)
      .buttons

.gallery
  display: flex
  flex-wrap: wrap
  align-items: stretch
  //margin-bottom: 20px
  padding: 15px 10px
  border: 3px solid #c0bfbf
  border-radius: 4px
  //+media-breakpoint-down(xs)
    justify-content: space-between
  h4
    flex-basis: 100%
    text-align: left
    font-size: 1.6rem
    margin-bottom: 15px
  &-item
    flex-shrink: 0
    margin-right: 10px
    margin-bottom: 10px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    //background-color: #ffffff
    width: 160px
    height: 140px
    //border: 1px solid #0a2137
    +media-breakpoint-down(xs)
      margin: 0 auto 15px
      //width: 200px
      //height: 200px
      //flex-basis: 200px
    img
      max-width: 100%
      max-height: 100%
.galleries
  display: flex
  flex-direction: column
  //.gallery
    +media-breakpoint-up(lg)
      flex-basis: 50%
      max-width: 50%

.partners-list
  display: flex
  flex-wrap: wrap
  align-items: stretch
  +media-breakpoint-down(xs)
    flex-direction: column
    align-items: center
  &--item
    +media-breakpoint-up(lg)
      +flexElements(4, 50px)
    +media-breakpoint-only(md)
      +flexElements(4, 30px)
    +media-breakpoint-only(sm)
      +flexElements(2, 50px)
    margin-bottom: 15px
    display: flex
    align-items: center
    justify-content: center
    +media-breakpoint-down(xs)
      margin: 15px 0
    //background-color: #ffffff
    img
      width: 100%
      +media-breakpoint-down(xs)
        width: 200px

.partners-section, .gallery-section
  @extend .advantages-section

.partners-section
  h3
    margin-bottom: 80px

.manufacturer
  font-size: 32px
  img
    +media-breakpoint-up(lg)
      height: 130px
      vertical-align: unset
      margin-bottom: -20px
    //+media-breakpoint-down(md)
    //  height: 50px
    //+media-breakpoint-down(xs)
    //  height: auto
    //  width: 100%