
.header-phone
  $phone-color: #00365c
  $title-color: #3b525a
  display: flex
  flex-direction: column
  align-items: flex-end
  flex-shrink: 0
  $this: &
  +media-breakpoint-down(xs)
    & > *
      margin-bottom: 10px

  &--title
    color: $title-color
    font-size: 0.9rem
  &--local
    color: $phone-color
    font-size: 1.2rem
    font-weight: 500
    font-family: $heading-font-family
    span
      vertical-align: sub
  &--multichannel
    color: $phone-color
    font-size: 2rem
    font-weight: 700
    line-height: 1.5rem
    font-family: $heading-font-family
    margin-bottom: 0.4rem
  &-2
    #{$this}__list
      & > a
        &:not(:last-child)
          margin-right: 30px
    #{$this}--title
      font-size: 0.75rem
      line-height: 1rem
    #{$this}--local
      @extend #{$this}--multichannel
    #{$this}--multichannel
      display: inline-block
