.icon
  $icons: (contacts-map, contacts-mail, contacts-phone)
  background-repeat: no-repeat
  width: 18px
  height: 18px
  display: inline-block
  margin-right: 5px
  background-position: center center
  @each $icon in $icons
    &-#{$icon}
      background-image: url("./img/#{$icon}.png")