ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

ol{
  list-style-type: decimal;
  li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -1.8em;
    list-style-type: none;
    counter-increment: item;
    color: #ffffff;
    font-size: 1.15rem;
    margin-bottom: 1.3rem;
    @include media-breakpoint-down(xs) {
      margin-bottom: 0.6rem;
      line-height: 1.5em;
      text-indent: -1em;
    }
    &:before {
      display: inline-block;
      width: 1em;
      padding-right: 0.5em;
      font-weight: bold;
      text-align: right;
      font-size: 1.2rem;
      content: counter(item) ".";
    }
  }
}