body {
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

html {
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h2 {
  font-size: 55px;
  font-family: $heading-font-family;
  text-transform: uppercase;
  color: #313131;
  font-weight: 700;
  position: relative;
  margin-bottom: 78px;
  text-align: center;
  @include media-breakpoint-down(md) {
    font-size: 32px;
    margin-bottom: 50px;
  }
  & > img {
    vertical-align: sub;
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: calc(100% + 33px);
    transform: translateX(-50%);
    width: 208px;
    height: 5px;
    background-color: #13395c;
    @include media-breakpoint-down(md) {
      top: calc(100% + 20px);
    }
  }
  &.white {
    color: #ffffff;
    &:after {
      background-color: #ffffff;
    }
  }
}

h4 {
  font-size: 36px;
  font-family: $heading-font-family;
  text-transform: uppercase;
  color: #313131;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  & > img {
    vertical-align: sub;
    height: 44px;
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }
  }
  &.underline {
    margin-bottom: 70px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: calc(100% + 23px);
      transform: translateX(-50%);
      width: 208px;
      height: 5px;
      background-color: #13395c;
      @include media-breakpoint-down(md) {
        top: calc(100% + 20px);
      }
    }
    &.white {
      color: #ffffff;
      &:after {
        background-color: #ffffff;
      }
    }
  }
}
.underline-center {
  &:after {
    left: 50%;
    transform: translateX(-50%);
  }
}
h3 {
  font-size: 44px;
  font-family: $heading-font-family;
  text-transform: uppercase;
  color: #313131;
  font-weight: 700;
  position: relative;
  margin-bottom: 55px;
  @include media-breakpoint-down(md) {
    font-size: 36px;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    width: 134px;
    height: 5px;
    background-color: $color-orange;
  }
}

.no-underline {
  &:after {
    display: none;
  }
}

p {
  margin: 0 0 1.7rem;
  font-size: 1.15rem;
  color: #6e7a81;
  line-height: 1.35rem;
  font-weight: 400;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  //&:active,
  //&:focus,
  //&:hover {
  //  color: shade($action-color, 25%);
  //}
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
